global
    user haproxy
    group haproxy

defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

listen stats
    bind *:9999
    stats enable
    stats hide-version
    stats uri /stats
    stats auth statadmin:statadminpass

listen mysql-cluster
    bind *:3306
    mode tcp
    option mysql-check user haproxy_check
    balance roundrobin
    server mysql-1 db_1:3306 check
    server mysql-2 db_2:3306 check
